// 2024 ALA styles

// Roboto font
@import url(https://fonts.googleapis.com/css?family=Lato%3A700%7CRoboto%3A300%2C400%2C400i%2C500%2C700%2C900&ver=5.2.1);

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../vendor/bootstrap/scss/functions";

// 2. Include any default variable overrides here



// ALA colour palette
$flamingo: #f26649;
$rust: #c44d34;
$grey: #637073;
$concrete: #f2f2f2;
$silver: #9d9d9d;
$charcoal: #212121;
$honey: #ffc557;
$pale-moss: #b7cd96;
$seafoam: #68dad5;
$ocean: #003a70;
$lavender: #a191b2;
$plum: #691c32;
$marigold: #eb9d07;
$lagoon: #076164;
$peacock: #1b5d81;
$eggplant: #5b397d;
$sand: #ffedcf;
$forest: #38613d;
$glacial: #c3edef;
$pinot: #921d11;
$lightgrey: #d9d9d9;
$grey: #637073;

$primary:       $rust;
$secondary:     $silver;
$success:       $pale-moss;
$info:          $seafoam;
$warning:       $honey;
$danger:        $flamingo;
$light:         $concrete;
$dark:          $charcoal;

$font-family-sans-serif: Roboto, sans-serif;

$body-color: $charcoal;
$body-color-dark: $concrete;

$link-color: $ocean;
$link-color-dark: $glacial;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here



// 5. Include remainder of required parts
@import "../vendor/bootstrap/scss/maps";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../vendor/bootstrap/scss/utilities";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/containers";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/helpers";

@import "../vendor/bootstrap/scss/tables";
@import "../vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/scss/buttons";
@import "../vendor/bootstrap/scss/transitions";
@import "../vendor/bootstrap/scss/dropdown";
@import "../vendor/bootstrap/scss/button-group";
@import "../vendor/bootstrap/scss/nav";
@import "../vendor/bootstrap/scss/navbar";
@import "../vendor/bootstrap/scss/card";
@import "../vendor/bootstrap/scss/accordion";
@import "../vendor/bootstrap/scss/breadcrumb";
@import "../vendor/bootstrap/scss/pagination";
@import "../vendor/bootstrap/scss/badge";
@import "../vendor/bootstrap/scss/alert";
@import "../vendor/bootstrap/scss/progress";
@import "../vendor/bootstrap/scss/list-group";
@import "../vendor/bootstrap/scss/close";
@import "../vendor/bootstrap/scss/toasts";
@import "../vendor/bootstrap/scss/modal";
@import "../vendor/bootstrap/scss/tooltip";
@import "../vendor/bootstrap/scss/popover";
@import "../vendor/bootstrap/scss/carousel";
@import "../vendor/bootstrap/scss/spinners";
@import "../vendor/bootstrap/scss/offcanvas";
@import "../vendor/bootstrap/scss/placeholders";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../vendor/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

// outline buttons with different text colour
.btn-outline-primary  {
    --bs-btn-color: $charcoal;
    // @media (prefers-color-scheme: dark) {
    //     --bs-btn-color: $concrete;
    // }
}

// slightly wider left/right gutters
.row > * {
    --bs-gutter-x: 1.75rem;
}

.ala-header-wrapper {
    padding-top: 0.75rem;
}

.ala-header {
    // margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
@include media-breakpoint-up(lg) {
    .ala-header-wrapper {
        padding-top: 1.75rem;
    }
    .ala-header {
        // margin-top: 1.75rem;
        margin-bottom: 0;
    }
}
.ala-admin-message {
    .system-message {
        text-align: center;
        margin-bottom: 0;

        .alert-ala-content {
            width: fit-content;
            margin: 0 auto;
            &::before {
                display: inline-block;
                content: "";
                vertical-align: -.125em;
                height: 1rem;
                width: 2rem;
                /* info icon default */
                background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.01367 14.0352C4.49805 14.0352 2.20117 12.7227 0.943359 10.5352C-0.314453 8.375 -0.314453 5.72266 0.943359 3.53516C2.20117 1.375 4.49805 0.0351562 7.01367 0.0351562C9.50195 0.0351562 11.7988 1.375 13.0566 3.53516C14.3145 5.72266 14.3145 8.375 13.0566 10.5352C11.7988 12.7227 9.50195 14.0352 7.01367 14.0352ZM5.91992 9.22266C5.53711 9.22266 5.26367 9.52344 5.26367 9.87891C5.26367 10.2617 5.53711 10.5352 5.91992 10.5352H8.10742C8.46289 10.5352 8.76367 10.2617 8.76367 9.87891C8.76367 9.52344 8.46289 9.22266 8.10742 9.22266H7.88867V6.81641C7.88867 6.46094 7.58789 6.16016 7.23242 6.16016H5.91992C5.53711 6.16016 5.26367 6.46094 5.26367 6.81641C5.26367 7.19922 5.53711 7.47266 5.91992 7.47266H6.57617V9.22266H5.91992ZM7.01367 3.53516C6.52148 3.53516 6.13867 3.94531 6.13867 4.41016C6.13867 4.90234 6.52148 5.28516 7.01367 5.28516C7.47852 5.28516 7.88867 4.90234 7.88867 4.41016C7.88867 3.94531 7.47852 3.53516 7.01367 3.53516Z' clip-rule='evenodd'/></svg>");
                background-repeat: no-repeat;
                background-size: 1rem 1rem;
                background-position: 0.5rem 0;
            }
        }
    }
    .alert-danger {
        background-color: $pinot;
        color: white;
        border: none;
        a {
            color: white;
        }
        .alert-ala-content {
            &::before {
                /* danger icon */
                background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.82812 0.574219C4.21094 0.191406 4.70312 0 5.22266 0H8.75C9.26953 0 9.76172 0.191406 10.1445 0.574219L13.3984 3.82812C13.7812 4.21094 13.9727 4.70312 13.9727 5.22266V8.75C13.9727 9.26953 13.7812 9.76172 13.3984 10.1445L10.1445 13.3984C9.76172 13.7812 9.26953 13.9727 8.75 13.9727H5.22266C4.70312 13.9727 4.21094 13.7812 3.82812 13.3984L0.574219 10.1445C0.191406 9.76172 0 9.26953 0 8.75V5.22266C0 4.70312 0.191406 4.21094 0.574219 3.82812L3.82812 0.574219ZM7 3.47266C6.61719 3.47266 6.34375 3.77344 6.34375 4.12891V7.19141C6.34375 7.57422 6.61719 7.84766 7 7.84766C7.35547 7.84766 7.65625 7.57422 7.65625 7.19141V4.12891C7.65625 3.77344 7.35547 3.47266 7 3.47266ZM7.875 9.59766C7.875 9.13281 7.46484 8.72266 7 8.72266C6.50781 8.72266 6.125 9.13281 6.125 9.59766C6.125 10.0898 6.50781 10.4727 7 10.4727C7.46484 10.4727 7.875 10.0898 7.875 9.59766Z' clip-rule='evenodd'/></svg>");
            }
        }
    }
    .alert-warning {
        background-color: $honey;
        color: $charcoal;
        border: none;
        a {
            color: $link-color;
        }
        .alert-ala-content {
            &::before {
                /* warning icon */
                background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='$charcoal' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.00684 1C7.38965 1 7.74512 1.21875 7.93652 1.54688L13.8428 11.6094C14.0342 11.9648 14.0342 12.375 13.8428 12.7031C13.6514 13.0586 13.2959 13.25 12.9131 13.25H1.10059C0.69043 13.25 0.334961 13.0586 0.143555 12.7031C-0.0478516 12.375 -0.0478516 11.9648 0.143555 11.6094L6.0498 1.54688C6.24121 1.21875 6.59668 1 7.00684 1ZM7.00684 4.5C6.62402 4.5 6.35059 4.80078 6.35059 5.15625V8.21875C6.35059 8.60156 6.62402 8.875 7.00684 8.875C7.3623 8.875 7.66309 8.60156 7.66309 8.21875V5.15625C7.66309 4.80078 7.3623 4.5 7.00684 4.5ZM7.88184 10.625C7.88184 10.1602 7.47168 9.75 7.00684 9.75C6.51465 9.75 6.13184 10.1602 6.13184 10.625C6.13184 11.1172 6.51465 11.5 7.00684 11.5C7.47168 11.5 7.88184 11.1172 7.88184 10.625Z' clip-rule='evenodd'/></svg>");
            }
        }
    }
    .alert-info {
        background-color: $lagoon;
        color: white;
        border: none;
        a {
            color: $link-color-dark;
        }
    }
}

.ala-acknowledgement-header-background {
    background-color: #d9d9d9;
    display: none;
}

.ala-acknowledgement-header {
    --bs-alert-color: $charcoal;
    --bs-alert-bg: transparent;
    --bs-alert-border-color: transparent;
    --bs-alert-link-color: $charcoal;
    margin-bottom: 0;
}

.ala-header-logo {
    justify-content: flex-start;

    img {
        width: 186px;
        height: 27px;
        content:url(../img/ALA_Logo_light_186.png);
    }
}

.ala-header-toggles {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
}

.ala-header-nav-toggle {
    svg {
        width: 1.5rem;
        height: 1.5rem;
        color: black;
    }
}

.ala-header-dark-toggle {

    margin-right: 1.25rem;

    svg {
        width: 1rem;
        height: 1rem;
        color: black;
    }

    .active svg {
        color: white;
    }
}

.ala-header-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;

    .ala-header-contact, .ala-header-search {
        margin-top: 0.45rem;
    }

    .ala-header-dark-toggle .dropdown-toggle::after {
        vertical-align: 0.1em;
    }

    .ala-header-sign-up.signedOut, .ala-header-sign-in.signedOut, .ala-header-my-profile.signedIn, .ala-header-sign-out.signedIn {
        display: block;
    }
    .ala-header-sign-up.signedIn, .ala-header-sign-in.signedIn, .ala-header-my-profile.signedOut, .ala-header-sign-out.signedOut {
        display: none;
    }

    .ala-header-auth-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        div {
            margin-left: 0.4rem;
        }
    }

    .ala-header-contact {
        --bs-link-color-rgb: $charcoal;
        // @media (prefers-color-scheme: dark) {
        //     --bs-link-color-rgb: white;
        // }
        a {
            text-decoration: none;
        }
        
    }
    svg {
        width: 1rem;
        height: 1rem;
        color: black;
    }

    .active svg {
        color: white;
    }
}

.ala-header-wrapper {
    border-bottom: 1px solid $lightgrey;
}

@include color-mode(dark) {
    .btn-outline-primary  {
        --bs-btn-color: $concrete;
    }
    .ala-header-wrapper {
        border-bottom: 1px solid $grey;
    }
    .ala-acknowledgement-header-background {
        background-color: $charcoal;
    }
    .ala-acknowledgement-header {
        --bs-alert-color: white;
        --bs-alert-link-color: white;
    }
    .ala-header-wrapper {
        background-color: black;
    }
    .ala-header-tools, .ala-header-nav-toggle {
        svg, use {
            color: white;
        }
    }
    .ala-header-dark-toggle {
        svg, use {
            color: white;
        }
    }
    .ala-header-tools {
        .ala-header-contact {
            --bs-link-color-rgb: white;
        }
    }
    .ala-header-logo img {
        content:url(../img/ALA_Logo_dark_186.png);
    }
}

@include media-breakpoint-up(lg) {

    .ala-header-top-expanded {
        padding-top: 0;
    }
    .ala-header-logo {
        width: 48%;
         img {
            width: 325px;
            height: 47px;
            content:url(../img/ALA_Logo_light_325.png);
        }
    }
    .ala-header .ala-header-tools {
        display: flex;
        width: 26rem;
        justify-content: flex-end;
        padding-top: 0;
        padding-left: 0;

        >div {
            margin-left: 2rem;
        }
        >div:first-child {
            margin-left: 0;
        }
    }
    .ala-header-toggles {
        padding-right: 0;
    }
    .ala-header-dark-toggle {
        padding-top: 0.3rem;
    }
    @include color-mode(dark) {
        .ala-header-logo img {
            content:url(../img/ALA_Logo_dark_325.png);
        }
    }

}
@include media-breakpoint-up(xl) {
    .ala-header-logo {
        width: 55%;
    }
}
@include media-breakpoint-up(xxl) {
    .ala-header-logo {
        width: 60%;
    }
}

.ala-header-nav {
    margin-top: 0.5rem;

    > ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    
        > li {
            display: block;
            margin-right: 0;
            padding-top: 0.8rem;
            border-top: 1px solid $gray-300;
            --bs-link-color-rgb: $charcoal;
            // @media (prefers-color-scheme: dark) {
            //     --bs-link-color-rgb: white;
            // }
            a {
                text-decoration: none;
            }

            button {
                border: none;
                display: inline-block;
                background-color: transparent;
                padding-bottom: 0.8rem;
                border-bottom: none;

                span {
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    margin-left: 0.2rem;
                    /* Bootstrap Icons SVG: chevron-down */
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>");
                    background-repeat: no-repeat;
                    background-size: 1rem 1rem;
                    background-position: 0 0.2rem;
                    background-color: transparent;
                }

                &:focus {
                    //
                }

            }

            .ala-header-nav-secondary-panel {
                // position: absolute;
                // left: 0;
                // width: 100%;
                border-top: 1px solid $gray-300;

                display: none;
                // background: linear-gradient(180deg, $white 0%, $white 66%, $concrete 100%), var(--bs-body-bg);
                // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

                // hiding by default
                // visibility: hidden;
                // opacity: 0.3;
                // transform: rotateX(-90deg);
                // transform-origin: top center;
                //transition: 280ms all 120ms ease-out;

                .container {
                    // margin-top: 2.2rem;
                    // margin-bottom: 2.2rem;

                    .ala-header-secondary-panel-meta {
                        // visibility: hidden;
                        // border-right: 1px solid $gray-300;
                        // padding-right: 3rem;
                        // h4 {
                        //     font-size: 1.8rem;
                        //     margin-bottom: 1.1rem;
                        // }

                    }

                    .ala-header-secondary-panel-list {
                        padding-left: 0;
                        padding-right: 0;

                        .ala-header-nav-secondary-list {
                            list-style: none;
                            padding-left: 1rem;
                            // padding-left: 3rem;
    
                            li {
                                margin-top: -1px; // avoid doubling border-top
                                padding-top: 0.9rem;
                                padding-bottom: 0.9rem;
                                border-top: 1px solid $gray-300;
    
                                .ala-header-nav-tertiary-list {
                                    margin-top: 1rem;
                                    margin-bottom: -1rem;
                                    list-style: none;
                                    padding-left: 1rem;
                                    // border-top: 1px solid $gray-300;
                                }
                                a:hover, a:focus {
                                    text-decoration: underline;
                                }
                                a::after {
                                    display: inline-block;
                                    content: "";
                                    vertical-align: -.125em;
                                    height: 1rem;
                                    width: 2rem;
                                    /* Bootstrap Icons SVG: arrow-right */
                                    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23999' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8' clip-rule='evenodd'/></svg>");
                                    background-repeat: no-repeat;
                                    background-size: 1rem 1rem;
                                    background-position: 0.5rem 0;
                                }
                            }
                        }

                        &:first-child {
                            .ala-header-nav-secondary-list {
                                li:first-child {
                                    border-top: none;
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                button {
                    // border-bottom: 4px solid $rust;
                }
            }

            button[aria-expanded="true"]{
                color: $primary;

                span {
                    /* Bootstrap Icons SVG: chevron-up */
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23c44d34' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z'/></svg>");
                }

                +.ala-header-nav-secondary-panel {
                    // opacity: 1;
                    // transform: rotateX(0);
                    // visibility: visible;
                    display: block;
                    // background: linear-gradient(180deg, $white 0%, $white 66%, $concrete 100%), var(--bs-body-bg);
                    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                }
            }

        }
    }
}

@include color-mode(dark) {

    .ala-header-nav >ul >li {

        --bs-link-color-rgb: white;

        button span {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>");
        }
        button[aria-expanded="true"]{
            color: $flamingo;

            span {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f26649' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z'/></svg>");
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .ala-header .ala-header-nav {
        display: block;
        margin-top: 2.2rem;
        > ul {
            > li {
                display: inline-block;
                margin-right: 2rem;
                border-top: none;
                padding-top: none;

                &:hover {
                    button {
                        border-bottom: 4px solid $rust;
                    }
                }

                &[data-expanded="true"]{
                    button {
                        border-bottom: 4px solid $rust;
                    }
                }

                button {
                    border-bottom: 4px solid transparent;

                    &:focus {
                        border-bottom: 4px solid $rust;
                    }

                    &[aria-expanded="true"]{
                        color: var(--bs-link-color-rgb);
        
                        +.ala-header-nav-secondary-panel {
                            opacity: 1;
                            transform: rotateX(0);
                            visibility: visible;
                            // background: linear-gradient(180deg, $white 0%, $white 66%, $concrete 100%), var(--bs-body-bg);
                            background: var(--bs-body-bg);
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                        }
                    }

                }

                .ala-header-nav-secondary-panel {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    visibility: hidden;
                    opacity: 0.3;
                    transform: rotateX(-90deg);
                    transform-origin: top center;

                    .container {
                        margin-top: 2.2rem;
                        margin-bottom: 2.2rem;
    
                        .ala-header-secondary-panel-meta {
                            // display: block;
                            // visibility: visible;
                            border-right: 1px solid $gray-300;
                            padding-right: 3rem;
                            h4 {
                                font-size: 1.8rem;
                                margin-bottom: 1.1rem;
                            }
                        }

                        .ala-header-secondary-panel-list {
                            padding-left: calc(var(--bs-gutter-x)* 0.5);
                            padding-right: calc(var(--bs-gutter-x)* 0.5);

                            .ala-header-nav-secondary-list {
                                padding-left: 3rem;
    
                                li {
                                    margin-bottom: 1rem;
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    border-top: none;
    
                                    .ala-header-nav-tertiary-list {
                                        border-top: none;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include color-mode(dark) {
        .ala-header-nav >ul >li button[aria-expanded="true"] {
            color: var(--bs-link-color-rgb);
        }
    }
}

#breadcrumb {
    padding: 0.5rem 0;
    background-color: $concrete;

    .breadcrumb-list {
        margin-bottom: 0;
        padding-left: 0;

        li {
            display: inline-block;

            a {
                text-decoration: none;
            }
        }
    
        li + li::before {
            display: inline-block;
            content: "";
            vertical-align: -.125em;
            height: 1rem;
            width: 2rem;
            /* Bootstrap Icons SVG: chevron-left */
            background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23999' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0' clip-rule='evenodd'/></svg>");
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
            background-position: 0.5rem 0;
        }
    }
}

.ala-page {
    margin-top: 1rem;
    margin-bottom: 1rem;

    > article {
        margin-top: 1rem;
        margin-bottom: 1rem;

        header.entry-header {
            margin-bottom: 1rem;
        }
        .entry-excerpt {
            margin-bottom: 1rem;
            background-color: $concrete;
            border-radius: 5px;
            padding: 0.9rem 1.6rem;

            .entry-excerpt-label {
                font-weight: bold;
                margin-bottom: 0.2rem;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
        .entry-meta {
            margin-bottom: 2rem;
        }
    }
}
@include media-breakpoint-up(lg) {
    .ala-page {
    
        > article {
            margin-top: 2rem;
            margin-bottom: 2rem;

            header.entry-header {
                margin-bottom: 2rem;
            }
        }
    }
}

.footer-top {
    padding: 30px 0;
    border-top: 1px solid $lightgrey;

    .ala-footer-ala-logo {
        // width: 325px;
        // height: 47px;
        // background-size: auto;
        margin-bottom: 1.4rem;

        img {
            width: 186px;
            height: 27px;
            content:url(../img/ALA_Logo_light_186.png);
        }
    }

    .ala-footer-partner-text {
        font-size: 0.9rem;
        width: 95%;
    }

    .ala-footer-partner-logos {
        list-style: none;
        margin-bottom: 2rem;

        .ala-footer-ncris-logo {
            margin-right: 1.9rem;

            img {
                width: 65px;
                content:url(../img/NCRIS-PROVIDER.png);
            }
        }
        
        .ala-footer-csiro-logo {
            margin-right: 0.7rem;

            img {
                width: 47px;
            }
        }

        .ala-footer-gbif-logo {
            img {
                width: 102px;
                content:url(../img/gbif-dot-org-green-logo.svg);
            }
        }
    }

    .ala-footer-news-help {
        font-weight: bold;
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 0.9rem;
        }
    }

    .ala-footer-socials {
        list-style: none;
        margin-bottom: 2rem;

        li {
            width: 2rem;
            display: inline-block;
            margin-right: 1.2rem;


            button {
                --bs-btn-padding-x: 0;
                --bs-btn-padding-y: 0;
                --bs-btn-border-radius: 0.2rem;
                width: 1.3rem;
                height: 1.3rem;
                font-size: 0.5rem;

                &.ala-footer-facebook {
                    font-size: 0.9rem;
                }
                &.ala-footer-twitter svg {
                    margin-left: -0.3rem;
                }
                &.ala-footer-linkedin svg {
                    margin-left: -0.2rem;
                    width: 1.4rem;
                }
                &.ala-footer-insta svg {
                    margin-left: -0.2rem;
                    width: 1.2rem;
                }

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }

        }
    }

    .ala-footer-copyright-etc {
        list-style: none;
        font-size: 0.9rem;
        padding-top: 1.2rem;

        li {
            width: 7rem;
            display: inline-block;
        }
    }

    .ala-footer-contact {
        
        h4 {
            font-size: $font-size-base;
            margin-bottom: 1.1rem;
        }
        p {
            width: 95%;
        }
    }
}
@include color-mode(dark) {
    .footer-top {
        border-top: 1px solid $grey;

        .ala-footer-ala-logo {
            img {
                content:url(../img/ALA_Logo_dark_186.png);
            }
        }

        .ala-footer-partner-logos {
            .ala-footer-ncris-logo {
                img {
                    content:url(../img/NCRIS-PROVIDER-RGB-REV.png);
                }
            }
            .ala-footer-gbif-logo {
                img {
                    content:url(../img/gbif-dot-org-green-logo-dark.svg);
                }
            }
        }
        .ala-footer-socials {
            li {
                button {

                    --bs-btn-bg: white;
                    --bs-btn-hover-bg: #eee;
                    --bs-btn-active-bg: #ddd;

                    svg {
                        color: black;
                    }
                }
            }
        }
    }
}

// acknowledgement block in footer
.footer-bottom {
    background-color: #550100;
    background-image: url('../img/footer-acknowledgement-bg.svg');
    background-size: cover;

    .col {
        padding-top: 1rem;
        text-align: left;
        color: white;
        font-size: 125%;

        a {
            color: white;
        }

        p {
            margin-bottom: 1rem;
            width: 95%;
        }

        .ala-footer-acknowledgement-learn {
            font-size: 1rem;
        }
    }
}
@include media-breakpoint-up(lg) {
    .footer-top {
        padding: 58px 0;

        .ala-footer-ala-logo {
            img {
                width: 325px;
                height: 47px;
                content:url(../img/ALA_Logo_light_325.png);
            }
        }

        .ala-footer-partner-text {
            width: 335px;
        }

        .ala-footer-partner-logos, .ala-footer-socials {
            margin-bottom: 0;
        }
    }
    .footer-bottom {

        .col {
            padding: 4rem 11rem 2.6rem;
            text-align: center;
            p {
                margin-bottom: 2rem;
            }    
        }
    }

    @include color-mode(dark) {
        .footer-top {
            .ala-footer-ala-logo {
                img {
                    content:url(../img/ALA_Logo_dark_325.png);
                }
            }
        }
    }
}

// Home page styles

.home {
    .ala-hero-block {
        min-height: 30rem;
        background-color: $concrete;

        h1 {
            margin-top: 195px;

            em {
                display: inline-block;
                font-style: normal;
                background: linear-gradient(to right, #c44d34 40%, #f15637);
                background-clip: text;
                color: transparent;
            }
        }
    }
    .ala-quicklinks-block {
        ul {
            list-style: none;
            padding: 1.5rem 0 0.5rem;

            li {
                display: inline-block;
                border: 1px solid $lightgrey;
                border-radius: 5px;
                width: 100%;
                margin: 0 0 0.4rem;
                background-repeat: no-repeat;
                background-position: left 0.8rem center;
                background-size: 1.3rem;

                &.ala-quicklink-location {
                    background-image: url(../img/quicklinks-map.svg);
                }
                &.ala-quicklink-records {
                    background-image: url(../img/quicklinks-folder-magnify.svg);
                }
                &.ala-quicklink-collections {
                    background-image: url(../img/quicklinks-books.svg);
                }
                &.ala-quicklink-mapping {
                    background-image: url(../img/quicklinks-world.svg);
                }

                a {
                    display: inline-block;
                    width: 100%;
                    padding: 0.7rem 0 0.7rem 2.5rem;
                    text-decoration: none;

                    span {
                        color: $charcoal;
                        font-size: 1.25rem;
                    }
                }
                &:hover {
                    border-color: $rust;
                }
            }
        }

    }
    .ala-stats-block {
        background: linear-gradient(to right, #002a31, #003b45 50%);
        color: white;

        .stats {
            background-color: $honey;
            color: $charcoal;
        }
    }
    .ala-updates-block {
        background-color: $concrete;
    }
    .ala-newsletter-block {
        background-color: $lightgrey;
    }
}
@include color-mode(dark) {
    .home {
        .ala-hero-block {
            background-color: black;
            color: white;
        }
        .ala-quicklinks-block {
            ul {
                li {
                    border: 1px solid $silver;
    
                    &.ala-quicklink-location {
                        background-image: url(../img/quicklinks-map-dark.svg);
                    }
                    &.ala-quicklink-records {
                        background-image: url(../img/quicklinks-folder-magnify-dark.svg);
                    }
                    &.ala-quicklink-collections {
                        background-image: url(../img/quicklinks-books-dark.svg);
                    }
                    &.ala-quicklink-mapping {
                        background-image: url(../img/quicklinks-world-dark.svg);
                    }
    
                    a {
                        span {
                            color: white;
                        }
                    }
                    &:hover {
                        border-color: $flamingo;
                    }
                }
            }
    
        }
        .ala-updates-block {
            background-color: $concrete;
        }
        .ala-newsletter-block {
            background-color: $lightgrey;
        }
    }
}
@include media-breakpoint-up(lg) {
    .home {
        .ala-quicklinks-block {
            ul {
                padding: 3.8rem 0 2.1rem;
                margin-left: 2.8%;
    
                li {
                    width: 22%;
                    max-width: 16rem;
                    min-height: 8.5rem;
                    margin: 0 1% 0.4rem;
                    background-position: center top 1.3rem;
                    background-size: 2rem;
    
                    a {
                        padding: 4rem 1rem 1rem;
                        text-align: center;
                        
                        span {
                            max-width: 11rem;
                            min-height: 3rem;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
